@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,600;1,800&family=Noto+Serif:wght@700&family=Oswald&family=Playfair+Display:ital,wght@1,700&family=Work+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.swiper-hero h2{    
    color: aliceblue !important;        
    font-family: 'Noto Serif', serif;
    font-weight: 900;
    text-shadow: 2px 2px 8px #edfd09;
        

}
.swiper-hero p{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff6f6 !important;
    
    
    
    

}

.fondo{
    max-height: 950px;
    background-color: aqua;
    position: relative;
    
}
.content-foto{
    height: 100%;
   
    
}
.content-foto img {

    max-height: 950px;
    width: 100%;


}
.content-text{
    
    position: absolute;
    bottom:0px;
    left: 20px;
    width: 49%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.content-text h2{
    color: rgb(239, 148, 129);
    font-size: 3.5em;
}


.content-text p{
    font-size: 2.3em;
    color: rgb(205, 221, 215);
    
}
/* Estilos segunada imagen*/
.second{
    position: relative;    
}
.content-text-second{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.content-text-second h2{
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 4em;
}
.content-text-second p{
    font-size: 2.4em;
    color: rgb(0, 0, 0);
    
    
}
/*ESTILOS PRIMERA IMAGEN*/
.fondo__item-tres{
    overflow: hidden;
    position: relative;
    max-height:820px;
    width: 100%;
    

}
.fondo__img img{
    width: 100%;
    max-height:820px;
    
}
.fondo__text{
    
    
    
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height:95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    justify-content: center ;
    align-content: center;
    

    
    
    



}
.title{
    
    display: flex;
    align-items: end;
    justify-content: center;
}


.fondo__text h2{

    height: 100%;
    display: flex;
    align-items: end;
    text-align: center;
    font-size: 3.9em;
    
    grid-column: 1/1;
    grid-row: 1/2;
    

    
}
.text-decription{
    
    
    
    grid-column: 2/3;
    grid-row: 2/3;
    color: #ffa9a8;
    
    justify-content: center;
    
    
    font-size: 2.1em;
    
    
    
}
.text-decription {
   
    padding-right: 65px;
    
    
    
    
}





/*  Media query segunda imagen */
@media screen and (max-width:1360px) {
/*media query primera imagen */





/*-----------------------------------------------------*/
.content-text-second h2{
    text-align: center;
    color: antiquewhite;
    font-size: 4em;
}
.content-text-second p{
    font-size: 2em;
    color: antiquewhite;
    
    
}
    
}
@media screen and (max-width:1260px) {
/*media query primera imagen */
.fondo__text h2{
    align-self:start;
    text-align: left;
    font-size: 2.9em;
    color: #bcaa99;
    grid-column: 1/1;
    grid-row: 1/2

    
}
.text-decription{
    max-width: 90%;
    
    grid-column: 2/3;
    grid-row: 2/3;
    color: #ffa9a8;
    
    
    font-size: 1.7em;
    
    
    
}




/*-----------------------------------------------------*/

.content-text-second h2{
    text-align: center;
    color: antiquewhite;
    font-size: 3.8em;
}
.content-text-second p{
    font-size: 2.1em;
    color: antiquewhite;
   
}
    
}










@media screen and (max-width:1160px) {
    .fondo__text h2{
    height: 100%;
    display: flex;
    align-items: end;
    text-align: left;
    font-size: 2.8em;
    color: #bcaa99;
    grid-column: 1/1;
    grid-row: 1/2

    
}
.text-decription{
    max-width: 90%;
    
    grid-column: 2/3;
    grid-row: 2/3;
    color: #ffa9a8;
    
    
    font-size: 1.6em;
    
    
    
}

    

   
.content-text-second h2{
    text-align: center;
    color: antiquewhite;
    font-size: 3.6em;
}
.content-text-second p{
    font-size: 2em;
    color: antiquewhite;
    
}
}
@media screen and (max-width:1110px) {



.fondo__text h2{
    height: 100%;
    display: flex;
    align-items: end;
    align-self:start;
    text-align: left;
    font-size: 2.7em;
    color: #bcaa99;
    grid-column: 1/1;
    grid-row: 1/2


}
.text-decription{
    max-width: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
    
    font-size: 1.5em;



}

}
@media screen and (max-width:1020px) {



.fondo__text h2{
align-self:start;
text-align: left;
font-size: 2.6em;

grid-column: 1/1;
grid-row: 1/2


}
.text-decription{
    max-width: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
    
    font-size: 1.3em;



}
}


@media screen and (max-width:1060px) {



    .fondo__text h2{
        height: 100%;
        display: flex;
        align-items: end;

       

    
    }
    .text-decription{
        padding: 0;
        max-width: 90%;
       

        font-size: 1.6em;



    }

    .content-text-second h2{
        text-align: center;
        
        font-size: 3.5em;
    }
    .content-text-second p{
        font-size: 1.8em;
        
        

    }
    

}
@media screen and (max-width:950px) {
    .fondo__text h2{
    align-self:end;
    text-align: left;
    

    
    }
    .text-decription{
        max-width: 90%;
        
        
        
        font-size: 1.5em;
        
    }
}










@media screen and (max-width:935px) {
    .fondo__text h2{
    align-self:end;
    text-align: left;
    font-size: 2.8em;
    
    
    }
    .text-decription{
        max-width: 90%;
        grid-column: 2/3;
        grid-row: 2/3;
        

        font-size: 1.4em;

    }

    .content-text-second h2{
        text-align: center;
       
        font-size: 3.3em;
    }
    .content-text-second p{
        padding: 0;
        font-size: 1.6em;
        
        

    }
    
}


@media screen and (max-width:835px) {
    .fondo__text h2{
    align-self:end;
    text-align: left;
    font-size: 2.6em;
   
   

    
}
.text-decription{
    max-width: 90%;
    
    grid-column: 2/3;
    grid-row: 2/3;
   
    
    
    font-size: 1.3em;
    
    
    
}

.content-text-second h2{
    text-align: center;
    
    font-size: 3.1em;
}
.content-text-second p{
    font-size: 1.4em;
    
}
    
}
@media screen and (max-width:780px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2.3em;
        
        grid-column: 1/1;
        grid-row: 1/2

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

        grid-column: 2/3;
        grid-row: 2/3;
        


        font-size: 1.1em;



    }
}    




@media screen and (max-width:750px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2.3em;
        color: #bcaa99;
        grid-column: 1/1;
        grid-row: 1/2

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

        grid-column: 2/3;
        grid-row: 2/3;
       

        font-size: 1.1em;



    }

    .content-text-second h2{
        text-align: center;
        
        font-size: 2.9em;
    }
    .content-text-second p{
        font-size: 1.2em;
        

    }
    
}
@media screen and (max-width:715px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2.3em;
        

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

        grid-column: 2/3;
        grid-row: 2/3;
        


        font-size: 1em;



    }
}    



@media screen and (max-width:675px) {
    .fondo__text h2{
    align-self:end;
    text-align: left;
    font-size: 2.2em;
    
    grid-row: 1/2

    
    }
    .text-decription{
        max-width: 90%;

        grid-column: 2/3;
        grid-row: 2/3;
       


        font-size: 1em;



    }
}
@media screen and (max-width:660px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2.3em;
        
        grid-column: 1/1;
        grid-row: 1/2

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

        grid-column: 2/3;
        grid-row: 2/3;
        


        font-size: .9em;



    }
}




@media screen and (max-width:635px) {
    .fondo__text h2{
    
    align-self:end;
    text-align: left;
    font-size: 1.7em;
    

    
}
.text-decription{
    max-width: 90%;
    
    grid-column: 2/3;
    grid-row: 2/3;
    
    
    
    font-size: .8em;
    
    
    
}

.content-text-second h2{
    text-align: center;
    
    font-size: 2.4em;
}
.content-text-second p{
    font-size: 1.1em;
    
    
}
    
}
@media screen and (max-width:585px) {
 
.content-text-second h2{
    text-align: center;
    
    font-size: 2.2em;
}
.content-text-second p{
    font-size: 1em;
    
    
}
    
}
@media screen and (max-width:525px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2.2em;
        

    
    }
    .text-decription{
        display: flex;
       
        max-width: 90%;
        font-size: .8em;



    }
}
@media screen and (max-width:480px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2.1em;
        

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

   

        font-size: .7em;



    }
}
@media screen and (max-width:430px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 2em;
        

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

        

        font-size: .6em;



    }
}
@media screen and (max-width:390px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 1.7em;
        
    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

        


        font-size: .6em;



    }
}
@media screen and (max-width:370px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 1.6em;
       

    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

       

        font-size: .5em;



    }
}
@media screen and (max-width:310px) {
    .fondo__text h2{
        
        
        align-self:end;
        text-align: left;
        font-size: 1.3em;
       
    
    }
    .text-decription{
        display: flex;
        
        max-width: 90%;

       


        font-size: .4em;



    }
}



















@media screen and (max-width:535px) {

.content-text-second h2{
    text-align: center;
    color: rgb(215, 243, 250);
    font-size: 2.1em;
}
.content-text-second p{
    font-size: .9em;
    color: antiquewhite;
    
}
    
}
@media screen and (max-width:485px) {

.content-text-second h2{
    text-align: center;
    color: rgb(215, 243, 250);
    font-size: 2em;
}
.content-text-second p{
    font-size: .8em;
    
    
}
    
}
@media screen and (max-width:435px) {
    
   
.content-text-second h2{
    text-align: center;
    color: rgb(215, 243, 250);
    font-size: 1.9em;
}
.content-text-second p{
    font-size: .7em;
    
    
}
    
}
@media screen and (max-width:380px) {
  

.content-text-second h2{
    text-align: center;
    
    font-size: 1.5em;
}
.content-text-second p{
    font-size: .6em;
    
    
}
    
}
@media screen and (max-width:335px) {

.content-text-second h2{
    text-align: center;
    
    font-size: 1.2em;
}
.content-text-second p{
    font-size: .5em;
    
}
    
}















/*  Media query primera imagen*/
















@media screen and (max-width:1100px) {
  
.content-text h2{
    
    font-size: 3.2em;
}


.content-text p{
    font-size: 2em;
    
    
}

    
}
@media screen and (max-width:950px) {
 
.content-text h2{
    
    font-size: 2.6em;
}


.content-text p{
    font-size: 1.7em;
    
    
}

    
}
@media screen and (max-width:860px) {
 
 .content-text h2{
     
     font-size: 2.3em;
 }


 .content-text p{
     font-size: 1.5em;
     
     
 }

     
 }
 @media screen and (max-width:780px) {
 
 .content-text h2{
     
     font-size: 2em;
 }


 .content-text p{
     font-size: 1.3em;
     color: aquamarine;
     
 }

     
 }
 @media screen and (max-width:700px) {
 
 .content-text h2{
     
     font-size: 1.9em;
 }


 .content-text p{
     font-size: 1.2em;
     
     
 }

     
 }
 @media screen and (max-width:600px) {
 
 .content-text h2{
     color: antiquewhite;
     font-size: 1.7em;
 }


 .content-text p{
     font-size: 1.1em;
     
     
 }

     
 }
 @media screen and (max-width:520px) {
 
 .content-text h2{
     
     font-size: 1.6em;
 }


 .content-text p{
     font-size: 1em;
     
     
 }

     
 }
 @media screen and (max-width:475px) {
 
 .content-text h2{
     
     font-size: 1.5em;
 }


 .content-text p{
     font-size: .9em;
     
     
 }

     
 }
 @media screen and (max-width:420px) {
 
 .content-text h2{
     
     font-size: 1.4em;
 }


 .content-text p{
     font-size: .8em;
     
     
 }

     
 }
 @media screen and (max-width:380px) {
 
 .content-text h2{
     
     font-size: 1.3em;
 }


 .content-text p{
     font-size: .7em;
     
     
 }

     
 }
 @media screen and (max-width:330px) {
 
 .content-text h2{
     
     font-size: 1.2em;
 }


 .content-text p{
     font-size: .6em;
     
     
 }

     
 }
 @media screen and (max-width:285px) {
 
 .content-text h2{
     
     font-size: 1.1em;
 }


 .content-text p{
     font-size: .5em;

     
 }

     
 }